/**
 * Comments Wrapper
 */
.comments-area > * {
	margin-top: var(--wp--custom--spacing--vertical);
	margin-bottom: var(--wp--custom--spacing--vertical);
}

.comments-area > *:first-child {
	margin-top: 0;
}

.comments-area > *:last-child {
	margin-bottom: 0;
}

.comments-area.show-avatars .avatar {
	border-radius: 50%;
	position: absolute;
	top: 10px;
}

.comments-area.show-avatars .fn {
	display: inline-block;
	padding-left: 85px;
}

.comments-area.show-avatars .comment-metadata {
	padding: 8px 0 9px 85px;
}

/**
 * Comment Title
 */
.comments-title,
.comment-reply-title {
	font-size: var(--wp--preset--font-size--extra-large);
}

.comment-reply-title {
	display: flex;
	justify-content: space-between;
}

.comment-reply-title small a {
	font-size: var(--wp--preset--font-size--extra-small);
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
}

/* Nested comment reply title*/
.comment .comment-respond .comment-reply-title {
	font-size: var(--wp--preset--font-size--large);
}

/**
 * Comment Lists
 */
.comment-list {
	padding-left: 0;
	list-style: none;
}

.comment-list > li {
	margin-top: var(--wp--custom--spacing--vertical);
	margin-bottom: var(--wp--custom--spacing--vertical);
}

.comment-list .children {
	list-style: none;
	padding-left: 0;
}

.comment-list .children > li {
	margin-top: var(--wp--custom--spacing--vertical);
	margin-bottom: var(--wp--custom--spacing--vertical);
}

@media only screen and (min-width: 482px) {

	.comment-list .depth-2,
	.comment-list .depth-3 {
		padding-left: calc(4 * var(--wp--custom--spacing--horizontal));
	}
}

/**
 * Comment Meta
 */
.comment-meta .comment-author {
	line-height: var(--wp--custom--line-height--heading);
	margin-bottom: calc(0.25 * var(--wp--custom--spacing--unit));
}
@media only screen and (min-width: 482px) {

	.comment-meta .comment-author {
		margin-bottom: 0;
		padding-right: 0;
	}
}

.comment-meta .comment-author .fn {
	font-weight: normal;
	font-size: var(--wp--preset--font-size--large);
	hyphens: auto;
	word-wrap: break-word;
	word-break: break-word;
}

.comment-meta .comment-metadata {
	color: var(--wp--preset--color--dark-gray);
	font-size: var(--wp--preset--font-size--extra-small);
	padding: 8px 0 9px 0;
}

.comment-meta .comment-metadata .edit-link {
	margin-left: var(--wp--custom--spacing--horizontal);
}
@media only screen and (min-width: 482px) {

	.comment-meta {
		margin-right: inherit;
	}

	.comment-meta .comment-author {
		max-width: inherit;
	}
}

.reply {
	font-size: var(--wp--preset--font-size--extra-small);
	line-height: var(--wp--custom--line-height--heading);
}

.bypostauthor {
	display: block;
}

.says {
	display: none;
}

.comment-body {
	position: relative;
	margin-bottom: calc(1.7 * var(--wp--custom--spacing--vertical));
}

.comment-body > * {
	margin-top: var(--wp--custom--spacing--vertical);
	margin-bottom: var(--wp--custom--spacing--vertical);
}

.comment-body .reply {
	margin: 0;
}

.comment-content a {
	word-wrap: break-word;
}

.pingback .comment-body,
.trackback .comment-body {
	margin-top: var(--wp--custom--spacing--vertical);
	margin-bottom: var(--wp--custom--spacing--vertical);
}

.comment-respond {
	margin-top: var(--wp--custom--spacing--vertical);
}

.comment-respond > * {
	margin-top: var(--wp--custom--spacing--unit);
	margin-bottom: var(--wp--custom--spacing--unit);
}

.comment-respond > *:first-child {
	margin-top: 0;
}

.comment-respond > *:last-child {
	margin-bottom: 0;
}

.comment-respond > *:last-child.comment-form {
	margin-bottom: var(--wp--custom--spacing--vertical);
}

.comment-author {
	padding-top: 3px;
}

.comment-author .url {
	color: currentColor;
}

.comment-form {
	display: flex;
	flex-wrap: wrap;
}

.comment-form > * {
	flex-basis: 100%;
}

.comment-form .comment-notes {
	font-size: var(--wp--preset--font-size--extra-small);
}

.comment-form .comment-form-url,
.comment-form .comment-form-comment {
	width: 100%;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email {
	flex-basis: 0;
	flex-grow: 1;
}
@media only screen and (max-width: 481px) {

	.comment-form .comment-form-author,
	.comment-form .comment-form-email {
		flex-basis: 100%;
	}
}

.comment-form .comment-form-cookies-consent > label,
.comment-form .comment-notes {
	font-size: var(--wp--preset--font-size--extra-small);
	font-weight: normal;
}

.comment-form > p {
	margin-bottom: var(--wp--custom--spacing--unit);
}

.comment-form > p:first-of-type {
	margin-top: 0;
}

.comment-form > p:last-of-type {
	margin-bottom: 0;
}

.comment-form > p label,
.comment-form > p input[type=email],
.comment-form > p input[type=text],
.comment-form > p input[type=url],
.comment-form > p textarea {
	display: block;
	font-size: var(--wp--preset--font-size--extra-small);
	margin-bottom: calc(.5 * var(--wp--custom--spacing--unit));
	width: 100%;
	font-weight: var(--form--label-weight);
}

.comment-form > p.comment-form-cookies-consent {
	display: flex;
}

@media only screen and (min-width: 482px) {

	.comment-form > p.comment-form-author {
		margin-right: calc(1.5 * var(--wp--custom--spacing--horizontal));
	}

	.comment-form > p.comment-notes,
	.comment-form > p.logged-in-as {
		display: block;
	}
}