@media ( prefers-color-scheme: dark ) {
	:root {
		--wp--custom--color--background: var(--wp--preset--color--dark-gray);
		--wp--custom--color--foreground: var(--wp--preset--color--light-gray);
		--wp--custom--color--primary: var(--wp--preset--color--light-gray);
	}
}