* {
  box-sizing: border-box;
}

body {
  background: black !important;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html body *,
#masthead *,
#primary *,
#secondary * {
  &:not(.genericon):not(.o2-notification-close) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

html body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: black;
  color: rgba(255, 255, 255, 0.84);
}

// GLOBAL: RESETS
html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }

  blockquote {
    font-weight: normal;
  }
}

.site-title,
.site-description {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

// GLOBAL: CARDS
.site-header,
article#post-new,
article.page,
.widget {
  border-radius: 8px;
}

// HEADER: NAVIGATION
#masthead {
  #site-navigation {
    background: transparent;
    z-index: 10;
    &::after {
      background: black;
      // content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 10px 20px rgba(255, 255, 255, 0.1);
      z-index: -1;
    }
  }

  #menu-item-1599 {
    @media (min-width: 877px) {
      margin-left: -10px;
      margin-right: 40px;
    }

    a {
      font-weight: bold;
      font-size: 24px;
      line-height: 20px;
    }
  }

  .navigation-main ul {
    font-size: 14px;

    ul {
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    li a {
      color: black;
      padding: 20px 16px;
      &:hover {
        background: #eee;
      }
    }
    li:hover > a {
      background: #eee;
    }
    li.current-menu-item a {
      font-weight: bold;
      background: transparent;
    }
    li li a {
      padding: 10px 16px;
    }
  }
}

@media (max-width: 876px) {
  div#page {
    padding-top: 20px;
  }

  .site-main {
    margin-top: 40px;
  }
}

.admin-bar {
  #site-navigation {
    &::after {
      top: 32px !important;
    }
  }
}

// BODY
#page {
  padding-top: 90px;
}

#main {
  article.post {
    padding-bottom: 40px;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;

    .entry-content {
      font-size: 16px;
    }

    h1 {
      font-size: 2.8em;
      letter-spacing: -0.5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
      font-weight: bold;
    }

    * + {
      h2,
      h3,
      h4,
      h5 {
        margin-top: 2em;
      }
    }
  }
}

// BODY: APP TITLE
.o2-app-page-title {
  background: transparent;
  display: none;
  padding: 0;
  margin: 0 0 20px;
  font-size: 6rem;
  text-transform: none;
  font-weight: bold;
  color: black;
}

// BODY: CONTAINER
#content {
  max-width: 760px;
}

// BODY: NEW POST
#main {
  .o2-app-new-post {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 70px;
  }
}

// BODY: X-POST
#main {
  .tag-p2-xpost {
    padding-left: 60px;
    position: relative;

    &::after {
      position: absolute;
      content: 'X-POST';
      top: 10px;
      left: -15px;
      opacity: 0.4;
      transform: rotate(-90deg);
      font-size: 11px;
    }
  }

  a.po-xpost {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
    color: black;
    background: rgba(255, 255, 255, 0.05);
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 90%;
    font-weight: bold;
  }
}

// BODY: POST
#main {
  .o2-post {
    padding: 0 0 20px;
  }

  .sticky .o2-post {
    padding: 30px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.08),
      0px 10px 30px rgba(0, 0, 0, 0.04);
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
  }

  .entry-content {
    blockquote,
    .wp-block-quote {
      background: transparent;
      padding: 0.5em 1.2em 0.75em;
      border-left: 3px solid #ddd;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .entry-content,
  .comment-content {
    code {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
      color: #fff;
      background: rgba(255, 255, 255, 0.05);
      padding: 3px 5px;
      border-radius: 3px;
      font-size: 85%;
    }
  }

  .o2-post-comments {
    color: rgba(255, 255, 255, 0.76);
    font-size: 14px;
  }
}

// READ MORE
#main {
  .more-link {
    display: inline-block;
    font-weight: bold;
    margin: 0px 0 40px;
    padding: 10px 60px 10px 0;
  }
}

// EDITOR
#content {
  .o2-editor {
    button,
    a {
      color: black;
    }
  }
}

// SIDEBAR
html #secondary {
  background: white;
  @media only screen and (min-width: 783px) {
    position: relative;
    top: -70px;
  }
}

// SIDEBAR: WIDGET
#secondary {
  .widget {
    padding: 20px;
  }

  .widget_search {
    margin-top: 20px;
  }
}

// SIDEBAR: WIDGET
#text-16 {
  background: none;
  img {
    border: 5px solid white;
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
}

// SIDEBAR: WIDGET: THE TEAM
#text-18 {
  .textwidget {
    strong {
      font-size: 1.2em;
      color: black;
    }
    p {
      margin-top: 0;
    }
  }

  img {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
}

.person {
  margin-bottom: 16px;

  &::last-child {
    margin-bottom: 0;
  }
}

// ANIMATIONS
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#primary {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 200ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    opacity: 1;
  }
}

#secondary {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 300ms;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    opacity: 1;
  }
}

// NEXT: DESKTOP EXPERIENCE
@media (min-width: 877px) {
  #page {
    #masthead {
      background: transparent;
      display: block;
      margin-left: calc(300px + 20px);
      padding-left: 20px;
      width: calc(100% - 300px - 40px);
      float: none;
    }
  }

  html body {
    #masthead #site-navigation {
      background: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 100%;
    }

    #page {
      max-width: 100%;
    }

    #primary {
      float: none;
      margin-left: 300px;
      padding-left: 20px;
      width: calc(100% - 300px);
    }

    #content {
      margin: auto;
    }

    #secondary {
      border-right: 1px solid #eee;
      bottom: 0;
      float: none;
      margin: 0;
      max-width: 300px;
      overflow-y: auto;
      padding-bottom: 80px;
      padding-right: 20px;
      position: fixed;
      top: 60px;
      width: 100%;
    }

    #main article.post h1 {
      font-size: 3.6em;
      text-align: center;
      padding: 0 10%;
      margin: 28px 0 48px;
    }

    #main .o2-app-new-post {
      padding-top: 20px;
    }

    #primary {
      .entry-meta {
        text-align: center;
        font-size: 13px;

        .author-avatar {
          float: none;
        }

        .avatar {
          display: block;
          margin: auto;
        }

        .entry-author,
        .entry-date {
          font-size: inherit;
        }
      }
    }
  }

  html body.admin-bar {
    #masthead #site-navigation {
      top: 32px;
    }

    #secondary {
      top: calc(32px + 60px);
    }
  }
}
