/*
 * Alignments, loaded in the editor only.
 */

.wp-block {
	max-width: var(--wp--custom--width--default);
}

.wp-block[data-align="wide"] {
	max-width: var(--wp--custom--width--wide);
}

.wp-block[data-align="full"] {
	max-width: none;
}
