/* ---- Custom colors ---- */
:root {
  --light-blue: #d1d9f9;
  --link-color-pastel-bluegreen: #c9effa;
  --link-hover-color-pastel-violet: #ded1f8;
  --link-color-bluegreen: #0f90b5;
  --link-hover-color-violet: #511dc1;

  --light-purple: #efb7fb;
  --link-color-pastel-blueviolet: #d5c9f8;
  --link-hover-color-pastel-redviolet: #fec8e5;
  --link-color-blueviolet: #4317bf;
  --link-hover-color-redviolet: #d90274;

  --light-magenta: #ffb9ff;
  --link-color-pastel-violet: #e4d2fb;
  --link-hover-color-pastel-hotpink: #ffc9d9;
  --link-color-violet: #6412d0;
  --link-hover-color-hotpink: #f00049;

  --light-orange: #ffdfbe;
  --teal: #0d7f9f;
  --link-color-pastel-alt-blue: #d2d9f7;
  --link-hover-color-pastel-green: #cafcd9;
  --link-color-alt-blue: #1d39ad;
  --link-hover-color-green: #0abd40;

  --light-yellow: #fff8c4;
  --alt-violet: #4811ae;
  --link-color-violetred: #8c04a8;
  --link-hover-color-violetblue: #172caf;

  --light-khaki: #e7e5ca;
  --dark-khaki: #5b560f;
  --dark-olive: #373400;

  --light-tan: #f1e2cd;
  --dark-orange: #734f1f;
  --darker-orange: #4e3009;

  --light-sandstone: #e0d7d4;
  --dark-brown: #4e2d21;
  --darker-brown: #3c1b0f;

  --orange-gradient-reversed: linear-gradient(to bottom, #ffb704 0%, #ffffff 100%);
  --bright-yellow-gradient-reversed: linear-gradient(to bottom, #f8fe03 0%, #ffffff 100%);
  --yellow-green-gradient-reversed: linear-gradient(to bottom, #cffa00 0%, #ffffff 100%);
  --teal-gradient-reversed: linear-gradient(to bottom, #0d7f9f 0%, #ffffff 100%);
  --violet-gradient-reversed: linear-gradient(to bottom, #4811ae 0%, #ffffff 100%);
  --light-khaki-gradient-reversed: linear-gradient(to bottom, #ded996 0%, #ffffff 100%);
  --light-tan-gradient-reversed: linear-gradient(to bottom, #e9d0ae 0%, #ffffff 100%);
  --light-sandstone-gradient-reversed: linear-gradient(to bottom, #d3bab2 0%, #ffffff 100%);
}

/* Blue */
.blue a:not(.wp-block-button__link),
.blue .content .wp-block-calendar .wp-calendar-nav a,
.blue .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-pastel-bluegreen);
}

.blue a:not(.wp-block-button__link):hover,
.blue a:not(.wp-block-button__link):active,
.blue .content .wp-block-calendar .wp-calendar-nav a:hover,
.blue .content .wp-block-calendar .wp-calendar-nav a:active,
.blue .card .wp-block-calendar .wp-calendar-nav a:hover,
.blue .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-pastel-violet);
}

.blue .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-bluegreen);
}

.blue .wp-block-calendar .wp-calendar-nav a:hover,
.blue .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-violet);
}

.blue .content a:not(.wp-block-button__link),
.blue .card a:not(.wp-block-button__link) {
  color: var(--link-color-bluegreen);
}

.blue .content a:not(.wp-block-button__link):hover,
.blue .content a:not(.wp-block-button__link):active,
.blue .card a:not(.wp-block-button__link):hover,
.blue .card a:not(.wp-block-button__link):active {
  color: var(--link-hover-color-violet);
}

.blue .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-blue);
}

.blue .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.blue .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--blue);
}

.blue .wp-block-search .wp-block-search__input {
  background: var(--orange-gradient-reversed);
  border-color: var(--wp--preset--color--blue);
}

.blue .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--orange);
  border-color: var(--wp--preset--color--blue);
}

.blue .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.blue .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.blue .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--orange-gradient-reversed);
  border-color: var(--wp--preset--color--blue);
}

.blue .content .wp-block-post-title a:hover,
.blue .content .wp-block-post-title a:active {
  color: var(--wp--preset--color--blue) !important;
}

.blue .content caption,
.blue .card caption {
  background-color: var(--wp--preset--color--blue);
}

.blue .content .wp-block-calendar .wp-calendar-nav,
.blue .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--blue);
}

/* Purple */
.purple a:not(.wp-block-button__link),
.purple .content .wp-block-calendar .wp-calendar-nav a,
.purple .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-pastel-blueviolet);
}

.purple a:not(.wp-block-button__link):hover,
.purple a:not(.wp-block-button__link):active,
.purple .content .wp-block-calendar .wp-calendar-nav a:hover,
.purple .content .wp-block-calendar .wp-calendar-nav a:active,
.purple .card .wp-block-calendar .wp-calendar-nav a:hover,
.purple .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-pastel-redviolet);
}

.purple .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-blueviolet);
}

.purple .wp-block-calendar .wp-calendar-nav a:hover,
.purple .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-redviolet);
}

.purple .content a:not(.wp-block-button__link),
.purple .card a:not(.wp-block-button__link) {
  color: var(--link-color-blueviolet);
}

.purple .content a:not(.wp-block-button__link):hover,
.purple .content a:not(.wp-block-button__link):active,
.purple .card a:not(.wp-block-button__link):hover,
.purple .card a:not(.wp-block-button__link):active {
  color: var(--link-hover-color-redviolet);
}

.purple .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-purple);
}

.purple .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.purple .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--purple);
}

.purple .wp-block-search .wp-block-search__input {
  background: var(--bright-yellow-gradient-reversed);
  border-color: var(--wp--preset--color--purple);
}

.purple .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--bright-yellow);
  border-color: var(--wp--preset--color--purple);
}

.purple .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.purple .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.purple .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--bright-yellow-gradient-reversed);
  border-color: var(--wp--preset--color--purple);
}

.purple .content .wp-block-post-title a:hover,
.purple .content .wp-block-post-title a:active {
  color: var(--wp--preset--color--purple) !important;
}

.purple .content caption,
.purple .card caption {
  background-color: var(--wp--preset--color--purple);
}

.purple .content .wp-block-calendar .wp-calendar-nav,
.purple .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--purple);
}

/* Magenta */
.magenta a:not(.wp-block-button__link),
.magenta .content .wp-block-calendar .wp-calendar-nav a,
.magenta .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-pastel-violet);
}

.magenta a:not(.wp-block-button__link):hover,
.magenta a:not(.wp-block-button__link):active,
.magenta .content .wp-block-calendar .wp-calendar-nav a:hover,
.magenta .content .wp-block-calendar .wp-calendar-nav a:active,
.magenta .card .wp-block-calendar .wp-calendar-nav a:hover,
.magenta .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-pastel-hotpink);
}

.magenta .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-violet);
}

.magenta .wp-block-calendar .wp-calendar-nav a:hover,
.magenta .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-hotpink);
}

.magenta .content a:not(.wp-block-button__link),
.magenta .card a:not(.wp-block-button__link) {
  color: var(--link-color-violet);
}

.magenta .content a:not(.wp-block-button__link):hover,
.magenta .content a:not(.wp-block-button__link):active,
.magenta .card a:not(.wp-block-button__link):hover,
.magenta .card a:not(.wp-block-button__link):active {
  color: var(--link-hover-color-hotpink);
}

.magenta .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-magenta);
}

.magenta .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.magenta .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--magenta);
}

.magenta .wp-block-search .wp-block-search__input {
  background: var(--yellow-green-gradient-reversed);
  border-color: var(--wp--preset--color--magenta);
}

.magenta .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--yellow-green);
  border-color: var(--wp--preset--color--magenta);
}

.magenta .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.magenta .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.magenta .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--yellow-green-gradient-reversed);
  border-color: var(--wp--preset--color--magenta);
}

.magenta .content .wp-block-post-title a:hover,
.magenta .content .wp-block-post-title a:active {
  color: var(--wp--preset--color--magenta) !important;
}

.magenta .content caption,
.magenta .card caption {
  background-color: var(--wp--preset--color--magenta);
}

.magenta .content .wp-block-calendar .wp-calendar-nav,
.magenta .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--magenta);
}

/* Orange */
.orange a:not(.wp-block-button__link) {
  color: var(--link-color-pastel-alt-blue);
}

.orange a:not(.wp-block-button__link):hover,
.orange a:not(.wp-block-button__link):active {
  color: var(--link-hover-color-pastel-green);
}

.orange .content a:not(.wp-block-button__link),
.orange .card a:not(.wp-block-button__link) {
  color: var(--link-color-alt-blue);
}

.orange .content a:not(.wp-block-button__link):hover,
.orange .content a:not(.wp-block-button__link):active,
.orange .card a:not(.wp-block-button__link):hover,
.orange .card a:not(.wp-block-button__link):active {
  color: var(--link-hover-color-green);
}

.orange .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-orange);
}

.orange .wp-block-search .wp-block-search__input {
  background: var(--teal-gradient-reversed);
  border-color: var(--teal);
}

.orange .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--teal);
  border-color: var(--teal);
}

.orange .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.orange .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.orange .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--teal-gradient-reversed);
  border-color: var(--teal);
}

.orange .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.orange .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--orange);
}

.orange .content .wp-block-post-title a:hover,
.orange .content .wp-block-post-title a:active {
  color: var(--teal);
}

.orange .content caption,
.orange .card caption {
  background-color: var(--wp--preset--color--orange);
}

.orange .content .wp-block-calendar .wp-calendar-nav,
.orange .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--orange);
}

.orange .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-alt-blue);
}

.orange .wp-block-calendar .wp-calendar-nav a:hover,
.orange .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-green);
}

/* Yellow */
.yellow a:not(.wp-block-button__link),
.yellow .content .wp-block-calendar .wp-calendar-nav a,
.yellow .sidebar .wp-block-calendar .wp-calendar-nav a {
  color: var(--link-color-violetred);
}

.yellow a:not(.wp-block-button__link):hover,
.yellow a:not(.wp-block-button__link):active,
.yellow .content .wp-block-calendar .wp-calendar-nav a:hover,
.yellow .card .wp-block-calendar .wp-calendar-nav a:hover,
.yellow .content .wp-block-calendar .wp-calendar-nav a:active,
.yellow .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--link-hover-color-violetblue);
}

.yellow .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-yellow);
}

.yellow .wp-block-search .wp-block-search__input {
  background: var(--violet-gradient-reversed);
  border-color: var(--alt-violet);
}

.yellow .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--violet);
  border-color: var(--alt-violet);
}

.yellow .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.yellow .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.yellow .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--violet-gradient-reversed);
  border-color: var(--alt-violet);
}

.yellow .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.yellow .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--yellow);
}

.yellow .content .wp-block-post-title a:hover,
.yellow .content .wp-block-post-title a:active {
  color: var(--alt-violet);
}

.yellow .content caption,
.yellow .card caption {
  background-color: var(--wp--preset--color--yellow);
}

.yellow .content .wp-block-calendar .wp-calendar-nav,
.yellow .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--yellow);
}

/* Khaki */
.khaki a:not(.wp-block-button__link),
.khaki .content .wp-block-calendar .wp-calendar-nav a,
.khaki .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--dark-khaki);
}

.khaki a:not(.wp-block-button__link):hover,
.khaki a:not(.wp-block-button__link):active,
.khaki .content .wp-block-calendar .wp-calendar-nav a:hover,
.khaki .card .wp-block-calendar .wp-calendar-nav a:hover,
.khaki .content .wp-block-calendar .wp-calendar-nav a:active,
.khaki .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--dark-olive);
}

.khaki .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-khaki);
}

.khaki .wp-block-search .wp-block-search__input {
  background: var(--light-khaki-gradient-reversed);
  border-color: var(--dark-khaki);
}

.khaki .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--light-khaki);
  border-color: var(--dark-khaki);
}

.khaki .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.khaki .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.khaki .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--light-khaki-gradient-reversed);
  border-color: var(--dark-khaki);
}

.khaki .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.khaki .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--khaki);
}

.khaki .content .wp-block-post-title a:hover,
.khaki .content .wp-block-post-title a:active {
  color: var(--dark-khaki);
}

.khaki .content caption,
.khaki .card caption {
  background-color: var(--wp--preset--color--khaki);
}

.khaki .content .wp-block-calendar .wp-calendar-nav,
.khaki .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--khaki);
}

/* Tan */
.tan a:not(.wp-block-button__link),
.tan .content .wp-block-calendar .wp-calendar-nav a,
.tan .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--dark-orange);
}

.tan a:not(.wp-block-button__link):hover,
.tan a:not(.wp-block-button__link):active,
.tan .content .wp-block-calendar .wp-calendar-nav a:hover,
.tan .card .wp-block-calendar .wp-calendar-nav a:hover,
.tan .content .wp-block-calendar .wp-calendar-nav a:active,
.tan .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--darker-orange);
}

.tan .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-tan);
}

.tan .wp-block-search .wp-block-search__input {
  background: var(--light-tan-gradient-reversed);
  border-color: var(--dark-orange);
}

.tan .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--light-tan);
  border-color: var(--dark-orange);
}

.tan .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.tan .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.tan .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--light-tan-gradient-reversed);
  border-color: var(--dark-orange);
}

.tan .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.tan .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--tan);
}

.tan .content .wp-block-post-title a:hover,
.tan .content .wp-block-post-title a:active {
  color: var(--dark-orange);
}

.tan .content caption,
.tan .card caption {
  background-color: var(--wp--preset--color--tan);
}

.tan .content .wp-block-calendar .wp-calendar-nav,
.tan .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--tan);
}

/* Sandstone */
.sandstone a:not(.wp-block-button__link),
.sandstone .content .wp-block-calendar .wp-calendar-nav a,
.sandstone .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--dark-brown);
}

.sandstone a:not(.wp-block-button__link):hover,
.sandstone a:not(.wp-block-button__link):active,
.sandstone .content .wp-block-calendar .wp-calendar-nav a:hover,
.sandstone .card .wp-block-calendar .wp-calendar-nav a:hover,
.sandstone .content .wp-block-calendar .wp-calendar-nav a:active,
.sandstone .card .wp-block-calendar .wp-calendar-nav a:active {
  color: var(--darker-brown);
}

.sandstone .wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation__container {
  background-color: var(--light-sandstone);
}

.sandstone .wp-block-search .wp-block-search__input {
  background: var(--light-sandstone-gradient-reversed);
  border-color: var(--dark-brown);
}

.sandstone .mxs-search--top.wp-block-search .wp-block-search__button {
  background: var(--wp--preset--gradient--light-sandstone);
  border-color: var(--dark-brown);
}

.sandstone .content .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.sandstone .card .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.sandstone .mxs-search--top.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background: var(--light-sandstone-gradient-reversed);
  border-color: var(--dark-brown);
}

.sandstone .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:hover,
.sandstone .has-child .wp-block-navigation-link a.wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--sandstone);
}

.sandstone .content .wp-block-post-title a:hover,
.sandstone .content .wp-block-post-title a:active {
  color: var(--dark-brown);
}

.sandstone .content caption,
.sandstone .card caption {
  background-color: var(--wp--preset--color--sandstone);
}

.sandstone .content .wp-block-calendar .wp-calendar-nav,
.sandstone .card .wp-block-calendar .wp-calendar-nav {
  background-color: var(--wp--preset--color--sandstone);
}

.sandstone .content .wp-block-calendar .wp-calendar-nav a,
.sandstone .card .wp-block-calendar .wp-calendar-nav a {
  color: var(--dark-brown);
}

/* Overrides */
.yellow h1,
.yellow h2,
.yellow h3,
.yellow h4,
.yellow h5,
.yellow h6 {
  color: var(--medium-gray);
}

.khaki h1,
.khaki h2,
.khaki h3,
.khaki h4,
.khaki h5,
.khaki h6 {
  color: var(--medium-gray);
}

.tan h1,
.tan h2,
.tan h3,
.tan h4,
.tan h5,
.tan h6 {
  color: var(--medium-gray);
}

.sandstone h1,
.sandstone h2,
.sandstone h3,
.sandstone h4,
.sandstone h5,
.sandstone h6 {
  color: var(--medium-gray);
}

.yellow a,
.khaki a,
.tan a,
.sandstone a {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.yellow blockquote,
.khaki blockquote,
.tan blockquote,
.sandstone blockquote {
  background: url(../images/curlyquotes-translucent-black.png) top left no-repeat;
}

.yellow code,
.yellow kbd,
.khaki code,
.khaki kbd,
.tan code,
.tan kbd,
.sandstone code,
.sandstone kbd {
  color: var(--wp--preset--color--black);
}

.blue .wp-block-site-title a,
.blue .wp-block-navigation a,
.purple .wp-block-site-title a,
.purple .wp-block-navigation a,
.magenta .wp-block-site-title a,
.magenta .wp-block-navigation a,
.orange .wp-block-site-title a,
.yellow .wp-block-site-title a,
.khaki .wp-block-site-title a,
.tan .wp-block-site-title a,
.sandstone .wp-block-site-title a {
  color: var(--wp--preset--color--white) !important;
}

.blue .wp-block-site-title a:hover,
.blue .wp-block-navigation a:hover,
.purple .wp-block-site-title a:hover,
.purple .wp-block-navigation a:hover,
.magenta .wp-block-site-title a:hover,
.magenta .wp-block-navigation a:hover,
.orange .wp-block-site-title a:hover,
.yellow .wp-block-site-title a:hover,
.khaki .wp-block-site-title a:hover,
.tan .wp-block-site-title a:hover,
.sandstone .wp-block-site-title a:hover {
  color: var(--wp--preset--color--white) !important;
}

.blue .wp-block-query-pagination a,
.purple .wp-block-query-pagination a,
.magenta .wp-block-query-pagination a {
  color: var(--wp--preset--color--white) !important;
}

.blue .content .wp-block-query-pagination a,
.purple .content .wp-block-query-pagination a,
.magenta .content .wp-block-query-pagination a {
  color: var(--wp--preset--color--black) !important;
}

.blue .wp-block-query-pagination a:hover,
.blue .wp-block-query-pagination a:active,
.purple .wp-block-query-pagination a:hover,
.purple .wp-block-query-pagination a:active,
.magenta .wp-block-query-pagination a:hover,
.magenta .wp-block-query-pagination a:active {
  color: var(--wp--preset--color--white) !important;
}

.blue .content .wp-block-query-pagination a:hover,
.blue .content .wp-block-query-pagination a:active,
.purple .content .wp-block-query-pagination a:hover,
.purple .content .wp-block-query-pagination a:active,
.magenta .content .wp-block-query-pagination a:hover,
.magenta .content .wp-block-query-pagination a:active {
  color: var(--wp--preset--color--black) !important;
}

.yellow .wp-block-query-pagination a,
.khaki .wp-block-query-pagination a,
.tan .wp-block-query-pagination a,
.sandstone .wp-block-query-pagination a {
  border-bottom-color: transparent;
}

.blue .wp-block-post-title a,
.purple .wp-block-post-title a,
.magenta .wp-block-post-title a,
.orange .wp-block-post-title a {
  color: var(--light-gray) !important;
}

.yellow .wp-block-post-title a,
.khaki .wp-block-post-title a,
.tan .wp-block-post-title a,
.sandstone .wp-block-post-title a {
  color: var(--dark-gray);
}

.blue .content .wp-block-post-title a,
.purple .content .wp-block-post-title a,
.magenta .content .wp-block-post-title a,
.orange .content .wp-block-post-title a,
.yellow .content .wp-block-post-title a,
.khaki .content .wp-block-post-title a,
.tan .content .wp-block-post-title a,
.sandstone .content .wp-block-post-title a {
  color: var(--medium-gray) !important;
}

.orange .wp-block-navigation__container,
.yellow .wp-block-navigation__container,
.khaki .wp-block-navigation__container,
.tan .wp-block-navigation__container,
.sandstone .wp-block-navigation__container {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.orange .wp-block-navigation-link__content,
.orange .wp-block-navigation-link__submenu-icon,
.yellow .wp-block-navigation-link__content,
.yellow .wp-block-navigation-link__submenu-icon,
.khaki .wp-block-navigation-link__content,
.khaki .wp-block-navigation-link__submenu-icon,
.tan .wp-block-navigation-link__content,
.tan .wp-block-navigation-link__submenu-icon,
.sandstone .wp-block-navigation-link__content,
.sandstone .wp-block-navigation-link__submenu-icon {
  color: var(--wp--preset--color--black) !important;
}

.orange .wp-block-navigation-link__content:hover,
.orange .wp-block-navigation-link__content:active,
.orange .has-child a.wp-block-navigation-link__content:hover,
.orange .has-child a.wp-block-navigation-link__content:active,
.yellow .wp-block-navigation-link__content:hover,
.yellow .wp-block-navigation-link__content:active,
.yellow .has-child a.wp-block-navigation-link__content:hover,
.yellow .has-child a.wp-block-navigation-link__content:active,
.khaki .wp-block-navigation-link__content:hover,
.khaki .wp-block-navigation-link__content:active,
.khaki .has-child a.wp-block-navigation-link__content:hover,
.khaki .has-child a.wp-block-navigation-link__content:active,
.tan .wp-block-navigation-link__content:hover,
.tan .wp-block-navigation-link__content:active,
.tan .has-child a.wp-block-navigation-link__content:hover,
.tan .has-child a.wp-block-navigation-link__content:active,
.sandstone .wp-block-navigation-link__content:hover,
.sandstone .wp-block-navigation-link__content:active,
.sandstone .has-child a.wp-block-navigation-link__content:hover,
.sandstone .has-child a.wp-block-navigation-link__content:active {
  color: var(--wp--preset--color--black) !important;
}

.orange .content .wp-block-calendar table caption,
.orange .sidebar .wp-block-calendar table caption,
.yellow .content .wp-block-calendar table caption,
.yellow .sidebar .wp-block-calendar table caption,
.khaki .content .wp-block-calendar table caption,
.khaki .sidebar .wp-block-calendar table caption,
.tan .content .wp-block-calendar table caption,
.tan .sidebar .wp-block-calendar table caption,
.sandstone .content .wp-block-calendar table caption,
.sandstone .sidebar .wp-block-calendar table caption {
  color: var(--wp--preset--color--black);
}

.yellow .wp-block-latest-posts__post-author,
.yellow .wp-block-latest-posts__post-date,
.khaki .wp-block-latest-posts__post-author,
.khaki .wp-block-latest-posts__post-date,
.tan .wp-block-latest-posts__post-author,
.tan .wp-block-latest-posts__post-date,
.sandstone .wp-block-latest-posts__post-author,
.sandstone .wp-block-latest-posts__post-date {
  color: var(--dark-gray) !important;
}

/* ---- Custom Backgrounds ---- */
.mxs-wrapper.gray-con-circles,
.mxs-wrapper.rby-con-circles,
.mxs-wrapper.ovg-con-circles,
.mxs-wrapper.gray-spheres,
.mxs-wrapper.rby-spheres,
.mxs-wrapper.ovg-spheres {
  margin-left: -1.5em;
  margin-right: -1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: calc(100% + 3em);
}

.gray-con-circles,
.rby-con-circles,
.ovg-con-circles,
.gray-spheres,
.rby-spheres,
.ovg-spheres {
  background-repeat: repeat;
}

.gray-con-circles {
  background-image: url(../images/bg_concircles_gray.png);
}

.rby-con-circles {
  background-image: url(../images/bg_concircles_rby.png);
}

.ovg-con-circles {
  background-image: url(../images/bg_concircles_ovg.png);
}

.gray-spheres {
  background-image: url(../images/bg_dots_gray.png);
}

.rby-spheres {
  background-image: url(../images/bg_dots_rby.png);
}

.ovg-spheres {
  background-image: url(../images/bg_dots_ovg.png);
}
