/*
 * Fixes for the backend full site editor
 * This file is subject to change, depending on backend code changes.
 */
 pre code {
   background-color: transparent;
 }

body {
  max-width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.wp-block-post-content > *:not(.wp-block[data-align="wide"]):not(.wp-block[data-align="full"]) {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.wp-block[data-align="left"],
.wp-block[data-align="right"],
.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block[data-align="wide"] > .wp-block-post-featured-image,
.wp-block[data-align="full"] > .wp-block-post-featured-image {
  margin-left: 0;
  margin-right: 0;
}

.wp-block[data-align="left"] > .wp-block-post-featured-image {
  margin-left: 20%;
  margin-right: 1em;
}

.wp-block[data-align="right"] > .wp-block-post-featured-image {
  margin-left: 1em;
  margin-right: 20%;
}

.wp-block[data-align="left"] .mxs-search--top {
  left: -1.5em;
}

.wp-block[data-align="center"] .mxs-search--top {
  border-bottom-left-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.wp-block[data-align="right"] .mxs-search--top {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 0px;
  left: auto;
  right: -1.5em;
}

.block-editor-block-list__layout .mxs-search--top {
  margin-top: -28px;
  margin-bottom: 0;
}

.block-editor-block-list__layout .main.wp-block {
  max-width: 100%;
}

.main--sidebar-right .block-editor-block-list__layout .wp-block-query {
  grid-column: 2 / 3;
  margin: 0;
}

.block-editor-block-list__block.mxs-header {
  margin: 0 auto;
}

.block-editor-block-list__layout .wp-block-site-title,
.block-editor-block-list__layout .wp-block-site-tagline {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-site-title {
  text-shadow: 1px 2px 0 var(--medium-gray);
}

.mxs-header--main .wp-block-navigation {
  max-width: none;
}

.mxs-header--main .wp-block[data-align="full"] > .wp-block-navigation > .wp-block-navigation__container {
  width: calc(100 - 20px);
  margin-left: 0;
  margin-right: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
  color: var(--wp--preset--color--pastel-blue);
}

.wp-block-freeform.block-library-rich-text__tinymce a:hover,
.wp-block-freeform.block-library-rich-text__tinymce a:active {
  color: var(--wp--preset--color--pastel-red);
}

.has-child .wp-block-navigation-link .wp-block-navigation-link__content {
  border-radius: 0 0 0 16px;
  margin: 0;
}

.has-child .wp-block-navigation-link .wp-block-navigation-link__content:hover,
.has-child .wp-block-navigation-link .wp-block-navigation-link__content:active {
  background-color: var(--wp--preset--color--black) !important;
}

.editor-post-title .editor-post-title__input {
  font-family: var(--heading-font);
}

textarea.editor-post-title__input:focus {
  background-color: transparent;
}

a.block-editor-block-list__block.wp-block-post-title {
  display: inline-block;
  margin-left: calc(20% - 2em);
  margin-right: calc(20% - 2em);
  width: 60%;
}

.block-editor-block-list__block.wp-block-post-title h2 {
  margin-bottom: 0;
}

.wp-block-cover {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

div[data-type="core/post-featured-image"] img {
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-post-content,
.block-editor-inner-blocks,
.content .wp-block-query-loop {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.wp-block-post-author.block-editor-block-list__block,
.wp-block-post-date.block-editor-block-list__block,
.wp-block-post-hierarchical-terms.block-editor-block-list__block {
  margin: 0;
  padding: 0 0.25em !important;
}

.wp-block-code {
  border: transparent;
}

.wp-block-gallery.alignfull {
  width: calc(100% - 4em);
}

.wp-block[data-align="full"] .wp-block-image {
  margin-left: -3em;
  margin-right: -3em;
}

.content .wp-block[data-align="full"] .wp-block-image {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.wp-block[data-align="wide"] .wp-block-image,
.wp-block[data-align="wide"] .wp-block-cover {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.wp-block-pullquote {
  border-top: transparent;
  border-bottom: transparent;
}

.wp-block-quote {
  border-left: transparent;
}

pre.wp-block-verse {
  color: var(--wp--preset--color--white);
}

/* Buttons */
div.wp-block-button__link,
div.wp-block-file__button {
	border-radius: 0.5em;
	font-size: 1em;
	font-weight: bold;
	margin: 0.5em;
	padding: 0.5em;
}

div.wp-block-button__link,
.is-style-outline > div.wp-block-button__link,
div.wp-block-file__button {
	border: 1px solid var(--wp--preset--color--white);
}

div.wp-block-button__link,
div.wp-block-file__button {
	color: var(--wp--preset--color--black);
}

div.wp-block-button__link,
div.wp-block-file__button,
.is-style-outline a.wp-block-button__link:hover,
.is-style-outline a.wp-block-button__link:focus {
	background-color: var(--wp--preset--color--white);
	background-image: var(--white-to-black-gradient);
}

div.wp-block-button__link.has-black-background-color:hover,
div.wp-block-button__link.has-black-background-color:focus,
.is-style-outline div.wp-block-button__link.has-black-background-color:hover,
.is-style-outline div.wp-block-button__link.has-black-background-color:focus {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}

.is-style-outline div.wp-block-button__link {
  background-color: transparent !important;
  background-image: none !important;
}

.is-style-outline > div.wp-block-button__link:not(.has-text-color),
div.wp-block-button__link.is-style-outline:not(.has-text-color) {
	color: var(--wp--preset--color--white);
}

.is-style-outline div.wp-block-button__link:hover {
  background-image: var(--white-to-black-gradient) !important;
}

.is-style-outline div.wp-block-button__link.has-blue-background-color:hover,
.is-style-outline div.wp-block-button__link.has-blue-background-color:focus {
  background-color: var(--wp--preset--color--blue) !important;
  color: var(--wp--preset--color--white) !important;
}

.is-style-outline div.wp-block-button__link.has-purple-background-color:hover,
.is-style-outline div.wp-block-button__link.has-purple-background-color:focus {
  background-color: var(--wp--preset--color--purple) !important;
  color: var(--wp--preset--color--white) !important;
}

.is-style-outline div.wp-block-button__link.has-magenta-background-color:hover,
.is-style-outline div.wp-block-button__link.has-magenta-background-color:focus {
  background-color: var(--wp--preset--color--magenta) !important;
  color: var(--wp--preset--color--white) !important;
}

.is-style-outline div.wp-block-button__link.has-orange-background-color:hover,
.is-style-outline div.wp-block-button__link.has-orange-background-color:focus {
  background-color: var(--wp--preset--color--orange) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-yellow-background-color:hover,
.is-style-outline div.wp-block-button__link.has-yellow-background-color:focus {
  background-color: var(--wp--preset--color--yellow) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-khaki-background-color:hover,
.is-style-outline div.wp-block-button__link.has-khaki-background-color:focus {
  background-color: var(--wp--preset--color--khaki) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-tan-background-color:hover,
.is-style-outline div.wp-block-button__link.has-tan-background-color:focus {
  background-color: var(--wp--preset--color--tan) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-sandstone-background-color:hover,
.is-style-outline div.wp-block-button__link.has-sandstone-background-color:focus {
  background-color: var(--wp--preset--color--sandstone) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-white-background-color:hover,
.is-style-outline div.wp-block-button__link.has-white-background-color:focus {
  background-color: var(--wp--preset--color--white) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-pastel-blue-background-color:hover,
.is-style-outline div.wp-block-button__link.has-pastel-blue-background-color:focus {
  background-color: var(--wp--preset--color--pastel-blue) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-pastel-red-background-color:hover,
.is-style-outline div.wp-block-button__link.has-pastel-red-background-color:focus {
  background-color: var(--wp--preset--color--pastel-red) !important;
  color: var(--wp--preset--color--black) !important;
}

.is-style-outline div.wp-block-button__link.has-vibrant-blue-background-color:hover,
.is-style-outline div.wp-block-button__link.has-vibrant-blue-background-color:focus {
  background-color: var(--wp--preset--color--vibrant-blue) !important;
  color: var(--wp--preset--color--white) !important;
}

.is-style-outline div.wp-block-button__link.has-vibrant-red-background-color:hover,
.is-style-outline div.wp-block-button__link.has-vibrant-red-background-color:focus {
  background-color: var(--wp--preset--color--vibrant-red) !important;
  color: var(--wp--preset--color--white) !important;
}

.is-style-outline div.wp-block-button__link.has-gray-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-gray-gradient-background:focus {
  background: var(--wp--preset--gradient--gray) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-orange-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-orange-gradient-background:focus {
  background: var(--wp--preset--gradient--orange) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-bright-yellow-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-bright-yellow-gradient-background:focus {
  background: var(--wp--preset--gradient--bright-yellow) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-yellow-green-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-yellow-green-gradient-background:focus {
  background: var(--wp--preset--gradient--yellow-green) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-teal-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-teal-gradient-background:focus {
  background: var(--wp--preset--gradient--teal) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-light-khaki-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-light-khaki-gradient-background:focus {
  background: var(--wp--preset--gradient--light-khaki) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-light-tan-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-light-tan-gradient-background:focus {
  background: var(--wp--preset--gradient--light-tan) !important;
  color: var(--wp--preset--color--black);
}

.is-style-outline div.wp-block-button__link.has-light-sandstone-gradient-background:hover,
.is-style-outline div.wp-block-button__link.has-light-sandstone-gradient-background:focus {
  background: var(--wp--preset--gradient--light-sandstone) !important;
  color: var(--wp--preset--color--black);
}
/* */

.main--sidebar-right .block-editor-block-list__layout .content,
.main--sidebar-left .block-editor-block-list__layout .content {
  margin: 0;
  max-width: none;
  width: 100%;
}

@media ( min-width: 1024px) {
  .main--sidebar-right .block-editor-block-list__layout .sidebar,
  .main--sidebar-left .block-editor-block-list__layout .sidebar {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

@media ( min-width: 1366px) {
  .wp-block[data-align="full"] .main--sidebar-right .wp-block-group__inner-container {
    grid-template-columns: minmax(728px, 85%) 1em minmax(232px, 15%);
  }

  .wp-block[data-align="full"] .main--sidebar-left .wp-block-group__inner-container {
    grid-template-columns: minmax(232px, 15%) 1em minmax(728px, 85%);
  }

  .wp-block[data-align="full"] .main--sidebar-left .content {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    grid-column: 3 / 4;
  }

  .wp-block[data-align="full"] .main--sidebar-left .sidebar {
    grid-column: 1 / 2;
    grid-row-start: 1;
    margin-top: 0;
  }
}
