/**
 * === Table of Content ===
 *
 * ** Base **
 * == Default ==
 * == WP Necessary Classes ==
 *
 * ** Typography **
 * == Heading ==
 * == paragraph ==
 *
 * ** Header **
 * == Wrapper ==
 * == Logo ==
 *
 * ** Footer **
 * == Wrapper ==
 *
 * ** Single Page **
 * == Post Title ==
 *
 * ** Comments **
 * == Comment List ==
 * == Comments Form ==
 * 
 * ** 404 Page **
 *
 * ** Blocks **
 * == Blocks Global ==
 * == Alignment ==
 * == Typography Classes ==
 * == File ==
 * == Widgets ==
 * == Block Quote ==
 * == Gallery ==
 *
 * ** Small Device **
 * == Blocks Mobile ==
 * == Mobile ==
 *
 */
/**
 * Base
 * == Default ==
 */
html
{
    font-size: 100%;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;

    overflow-x: hidden; 

    -webkit-box-sizing: border-box; 

            box-sizing: border-box;

    color: #212529;
    background-color: #f5f5f7;
}

a
{
    text-decoration: none; 

    color: #36d0ff;
}

a:hover
{
    color: #6a55ff;
}

.list,
li
{
    list-style: none;
}

img
{
    width: auto;
    height: auto;
}

/**
 * Base
 * == WP Necessary Classes ==
 */
.gallery-caption,
.bypostauthor,
.wp-caption-text,
.wp-caption
{
    font-size: initial;
}

.screen-reader-text
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    word-wrap: normal !important; 

    border: 0;

    -webkit-clip-path: inset(50%);

            clip-path: inset(50%);
}

.screen-reader-text:focus
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;
    line-height: normal;

    z-index: 100000; 
    top: 5px;
    right: 5px;

    display: block;
    clip: auto !important;

    width: auto;
    height: auto;
    padding: 15px 23px 14px;

    text-decoration: none;

    color: #21759b;
    border-radius: 3px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);

    -webkit-clip-path: none;

            clip-path: none;
}

#content[tabindex='-1']:focus
{
    outline: 0;
}

/**
 * Typography
 * == Heading ==
 */
.h1,
h1
{
    font-size: 2.5rem;

    margin: 1.5rem 0;
}

.h2,
h2
{
    font-size: 2rem;

    margin: 1.2rem 0;
}

.h3,
h3
{
    font-size: 1.75rem;

    margin: 1rem 0;
}

.h4,
h4
{
    font-size: 1.5rem;

    margin: .8rem 0;
}

.h5,
h5
{
    font-size: 1.25rem;

    margin: .5rem 0;
}

.h6,
h6
{
    font-size: 1rem;
}

/**
 * Typography
 * == paragraph ==
 */
.paragraph,
p
{
    font-size: 1rem;

    margin: .5rem 0;

    color: #424242;
}

/**
 * Header
 * == Wrapper ==
 */
.wp-site-blocks header.probd-blocks-site-header
{
    margin-top: 0; 
    padding: 0 25px;
}

.wp-site-blocks header.alignfull.probd-blocks-site-header,
.wp-site-blocks header.alignfull.probd-blocks-site-header .alignfull
{
    margin-top: 0;
}

/**
 * Header
 * == Logo ==
 */
header h1.wp-block-site-title
{
    margin-top: 0;
    margin-bottom: .2rem;
}

header .wp-block-site-tagline
{
    font-size: .8rem;

    margin: 0; 

    color: #8f8f8f;
}

/**
 * Footer
 * == Wrapper ==
 */
.probd-blocks-site-footer
{
    padding-bottom: 1rem;
}

.wp-site-blocks .probd-blocks-site-footer.alignfull
{
    margin-bottom: 0;
}

/**
 * Single Page
 * == Post Title ==
 */
.probd-single-post-title
{
    padding: 0 10px;
}

/**
 * Comments
 * == Comment List ==
 */
.probd-post-comments
{
    max-width: 580px;
    margin: 0 auto;
}
.probd-post-comments .commentlist
{
    margin-bottom: 2rem; 
    padding-left: 0;
}
.probd-post-comments .commentlist .comment
{
    margin-top: 1rem;
    margin-bottom: .8rem; 
    padding-left: 1rem;

    border-left: 1px dashed #ddd;
}
.probd-post-comments .commentlist .comment.comment:first-child
{
    margin-top: 0;
}
.probd-post-comments .commentlist .comment .comment-author
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: .5rem; 

    -webkit-box-align: start; 

    -webkit-align-items: flex-start; 

        -ms-flex-align: start; 

            align-items: flex-start;
}
.probd-post-comments .commentlist .comment .comment-author .avatar
{
    margin-right: .5rem;

    border-radius: 50%;
}
.probd-post-comments .commentlist .comment .comment-author .fn
{
    margin-right: .5rem;
}
.probd-post-comments .commentlist .comment .comment
{
    margin-top: .8rem;
}
.probd-post-comments .commentlist p
{
    font-size: .85rem;
}

/**
 * Comments
 * == Comments Form ==
 */
.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment textarea
{
    width: 100%;
    margin-bottom: 1rem; 
    padding: .5rem;

    border: 1px solid #dfdfdf;
    border-radius: 4px;
}
.comment-form-author input:focus,
.comment-form-email input:focus,
.comment-form-url input:focus,
.comment-form-comment textarea:focus
{
    border: 1px solid #36d0ff;
}

.comment-form .form-submit .submit
{
    padding: .4rem .8rem;

    cursor: pointer; 

    border: none;
    border-radius: 5px;
    background-color: #36d0ff;
}

.comment-form .form-submit .submit:hover
{
    color: #fff; 
    background-color: #6a55ff;
}

/**
 * 404 Page
 */
.probd-blocks-404-search label
{
    margin-bottom: 1rem;
}

.probd-blocks-404-search input
{
    padding: .6rem; 

    border-radius: .2rem;
}
.probd-blocks-404-search input:focus
{
    border-color: #36d0ff;
}

.probd-blocks-404-search .wp-block-search__button.has-icon
{
    padding: .3rem 1rem;

    cursor: pointer;

    border: none;
    border-radius: .2rem;
    background-color: #36d0ff;
}
.probd-blocks-404-search .wp-block-search__button.has-icon:hover
{
    background-color: #6a55ff;
}

/**
 * Blocks
 *  = Blocks Global =
 *  = Alignment =
 *  = Typography Classes =
 *  = File =
 *  = Widgets =
 *  = Block Quote =
 *  = Gallery =
 */
/**
 * Blocks
 *  == Blocks Global ==
 */
.wp-site-blocks > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.wp-block-separator):not(.entry-content)
{
    max-width: 580px;
    margin-right: auto; 
    margin-left: auto;
}

[class*='__inner-container'] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)
{
    width: 100%;
    max-width: 650px;
    margin-right: auto; 
    margin-left: auto;
}

.wp-site-blocks > .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.wp-block-separator)
{
    max-width: 580px;
    margin-right: auto; 
    margin-left: auto;
}

.wp-site-blocks
{
    /**
   * Blocks
   *  == Alignment ==
   */
    /* Wide */
    /* Center */
    /* Left and right */
    /**
   * Blocks
   *  == Typography Classes ==
   */
    /**
   * Blocks
   *  == File ==
   */
    /**
   * Blocks
   *  == Widgets ==
   */
    /**
   * Blocks
   *  == Block Quote ==
   */
    /**
 * Blocks
 *  == Gallery ==
 */
}
.wp-site-blocks p
{
    font-size: 1rem;
    line-height: 1.8;
}
.wp-site-blocks .alignfull
{
    position: relative;

    width: 100%; 
    max-width: 100vw;
    margin: 60px auto;
}
.wp-site-blocks [class*='__inner-container'] > .alignfull
{
    max-width: 100%;
}
.wp-site-blocks .alignwide
{
    position: relative;

    width: calc(100% - 4rem);
    max-width: 80vw;
    margin: 40px auto;
}
.wp-site-blocks [class*='__inner-container'] > .alignwide
{
    width: 100%;
}
.wp-site-blocks .aligncenter,
.wp-site-blocks .aligncenter img
{
    margin-right: auto; 
    margin-left: auto;
}
.wp-site-blocks .alignleft,
.wp-site-blocks .alignright
{
    max-width: 50%;
}
.wp-site-blocks .alignleft
{
    float: left;

    margin: 5px 10px 0 0;
}
.wp-site-blocks .alignright
{
    float: right;

    margin: 5px 0 0 10px;
}
.wp-site-blocks [class*='wp-block'].alignfull:not(.has-background) [class*='__inner-container'] > .alignleft,
.wp-site-blocks [class*='wp-block'].alignfull:not(.has-background) [class*='__inner-container'] > p .alignleft,
.wp-site-blocks [class*='wp-block'].alignfull:not(.has-background) [class*='__inner-container'] > .wp-block-image .alignleft
{
    /*rtl:ignore*/
    margin-left: 2rem;
}
.wp-site-blocks [class*='wp-block'].alignfull:not(.has-background) [class*='__inner-container'] > .alignright,
.wp-site-blocks [class*='wp-block'].alignfull:not(.has-background) [class*='__inner-container'] > p .alignright,
.wp-site-blocks [class*='wp-block'].alignfull:not(.has-background) [class*='__inner-container'] > .wp-block-image .alignright
{
    /*rtl:ignore*/
    margin-right: 2rem;
}
.wp-site-blocks .has-text-align-left
{
    text-align: left;
}
.wp-site-blocks .has-text-align-center
{
    text-align: center;
}
.wp-site-blocks .has-text-align-right
{
    text-align: right;
}
.wp-site-blocks .has-drop-cap:not(:focus)::first-letter
{
    font-size: 4.2rem;
    font-weight: 800;

    margin: .15rem .4rem 0 0; 

    color: #36d0ff;
}
.wp-site-blocks .has-drop-cap:not(:focus)::first-letter::after
{
    display: table;
    clear: both; 

    content: '';
}
.wp-site-blocks .has-drop-cap:not(:focus)::after
{
    padding: 0;
}
.wp-site-blocks .wp-block-file
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.wp-site-blocks .wp-block-file a:not(.wp-block-file__button)
{
    font-weight: 700;

    text-decoration: none;
}
.wp-site-blocks .wp-block-file a:not(.wp-block-file__button):not(:last-child)
{
    margin-right: 1rem;
}
.wp-site-blocks .wp-block-file a:not(.wp-block-file__button):focus,
.wp-site-blocks .wp-block-file a:not(.wp-block-file__button):hover
{
    text-decoration: underline;
}
.wp-site-blocks .wp-block-file .wp-block-file__button
{
    font-size: 1.5rem;

    padding: 1em 1.25em;
}
.wp-site-blocks .wp-block-file a.wp-block-file__button:visited
{
    opacity: 1;
}
.wp-site-blocks .wp-block-file a.wp-block-file__button:active,
.wp-site-blocks .wp-block-file a.wp-block-file__button:focus,
.wp-site-blocks .wp-block-file a.wp-block-file__button:hover
{
    text-decoration: underline; 

    opacity: 1;
}
.wp-site-blocks .wp-block-latest-posts li
{
    margin-bottom: .8rem;
}
.wp-site-blocks .wp-block-latest-posts li:last-child
{
    margin-bottom: 0;
}
.wp-site-blocks .wp-block-quote
{
    margin: 1rem 0; 
    padding-left: 0;
}
.wp-site-blocks .wp-block-quote > *
{
    padding: 0 0 0 1.5rem;
}
.wp-site-blocks .wp-block-pullquote.is-style-solid-color blockquote
{
    max-width: 80%;
}
.wp-site-blocks .wp-block-pullquote.is-style-solid-color blockquote p
{
    font-size: 1.6rem;
}
.wp-site-blocks .wp-block-gallery .blocks-gallery-item figcaption
{
    width: auto;
}

/**
 * Small Device
 * == Blocks Mobile ==
 */
@media (max-width: 767.98px)
{
    .probd-content > p
    {
        padding-right: .8rem; 
        padding-left: .8rem;
    }
    .probd-content .alignleft
    {
        padding-left: .8rem;
    }
    .probd-content .alignright
    {
        padding-right: .8rem;
    }
}

/**
 * Small Device
 * == Mobile ==
 */
@media (max-width: 768px)
{
    .wp-block-site-title
    {
        font-size: 2rem;

        margin-bottom: .2rem;
    }
    .wp-block-navigation
    {
        margin-top: 2.5rem;
    }
    .probd-post-comments h3
    {
        font-size: 1.5rem;

        padding-left: 1rem;
    }
    .comment-respond
    {
        padding: 0 1rem;
    }
}
