/*--------------------------------------------------------------
# Block Styles
#
# These provide front-end block styles. 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# General Structure
--------------------------------------------------------------*/

.entry-content > *,
.site-header > *,
.site-footer > *,
.site-content > h1 {
  margin: 36px auto;
  max-width: var(--wp--content-width--standard);
  padding-left: var(--wp--spacing--small);
  padding-right: var(--wp--spacing--small);
}

.entry-content > .alignwide,
.site-header > .alignwide
.site-footer > .alignwide {
  max-width: var(--wp--content-width--wide);
}

.entry-content > .alignfull,
.site-header > .alignfull,
.site-footer > .alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

@media screen and (min-width: 608px) {
  .entry-content > *,
  .site-header > *,
  .site-footer > *,
  .site-content > h1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*--------------------------------------------------------------
## Group
--------------------------------------------------------------*/

.wp-block-group > .wp-block-group__inner-container > * {
  max-width: var(--wp--content-width--standard);
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group > .wp-block-group__inner-container > .alignwide {
  max-width: 1070px;
}

.wp-block-group > .wp-block-group__inner-container > .alignfull {
  max-width: 100%;
}

.wp-block-group.has-background > .wp-block-group__inner-container > :first-child {
  margin-top: 0;
}

.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: calc( 100% + 60px );
  max-width: calc( 100% + 60px );
  position: relative;
  left: -30px;
}

/*--------------------------------------------------------------
## Quote
--------------------------------------------------------------*/

.wp-block-quote:not(.alignright):not(.aligncenter) {
  padding-left: 1em;
}