body {
	background-color: var(--wp--color--background);
	/*
	 * Blocks that don't declare any can inherit from body.
	*/
	/* color: var(--wp--color--foreground--base);
	font-size: var(--wp--type--base--size--base);
	line-height: var(--wp--type--base--line-height--base); */
}
