h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--wp--color--text);
	font-weight: var(--wp--typography--font-weight-heading);
	line-height: var(--wp--typography--line-height-heading);
}

h1 {
	font-size: var(--wp--typography--font-size-heading-1);
}

h2 {
	font-size: var(--wp--typography--font-size-heading-2);
}

h3 {
	font-size: var(--wp--typography--font-size-heading-3);
}

h4 {
	font-size: var(--wp--typography--font-size-heading-4);
}

h5 {
	font-size: var(--wp--typography--font-size-heading-5);
}

h6 {
	font-size: var(--wp--typography--font-size-heading-6);
}
