/* Match search block border and border radius with the front.
This is temporary until the border radius has been added to the block.
*/
input[type=search] {
	border-radius: 4px;
}

.site-header .wp-block-search .wp-block-search__input {
	border: 2px solid #fff;
}

.site-header .wp-block-search .wp-block-search__button {
	border: 2px solid #fff;
	border-radius: 4px;
}
