/**
 * Small Device
 * == Blocks Mobile ==
 */
@media (max-width: 767.98px) {

  .probd-content > p {
    padding-left: .8rem;
    padding-right: .8rem;
  }

  .probd-content .alignleft {
    padding-left: .8rem;
  }
  .probd-content .alignright {
    padding-right: .8rem;
  }

}