
name: Deploy to staging

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@3.0.0
      with:
        local-dir: tt1-blocks/
        # Deployment destination server & path. Formatted as protocol://domain.com:port/full/destination/path/
        ftp-server: sftp://2021blocks.wordpress.net:22/home/blockswordpress/public_html/wp-content/themes/tt1-blocks
        # FTP account username
        ftp-username: ${{ secrets.TT1BLOCKS_STAGING_SFTP_USERNAME }}
        # FTP account password
        ftp-password: ${{ secrets.TT1BLOCKS_STAGING_SFTP_PASSWORD }}
        git-ftp-args: --insecure
    
    
